<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="text">{{ site.address | newline_to_br }}</p>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fab fa-twitter" style="color:gray"></i> {{ site.twitter_username }}
            </a>
          </li>
          {% endif %}
          {% if site.schoolurl %}
          <li>
            <a href="{{ site.schoolurl }}">
              <i class="fas fa-university" style="color:gray"></i> Hertie School Data Science Lab
            </a>
          </li>
          {% endif %}
          {% if site.github_org %}
          <li>
            <a href="https://github.com/{{ site.github_org }}">
              <i class="fab fa-github" style="color:gray"></i> {{ site.github_org }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p style="font-size:0.85em; color:#888;">
          Part of the <a href="{{ site.dsl_org_url }}">Hertie Data Science Lab</a>.<br>
          {% if site.course_code %}<span>Course code: {{ site.course_code }}</span>{% endif %}
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  // Open external links and PDFs in a new tab (keeps in-site navigation in place).
  document.querySelectorAll('a[href]').forEach(function (a) {
    var external = a.host && a.host !== location.host;
    var isPdf = /\.pdf($|[?#])/i.test(a.getAttribute('href') || '');
    if (external || isPdf) {
      a.target = '_blank';
      a.rel = 'noopener noreferrer';
    }
  });
</script>
